<!--
=================================================================================================================
; Title: Assignment 5.2 Pets-R-Us
; Author: Shane Hingtgen
; Bellevue University
; Date: 01/30/23
; Description: In this assignment we create a website and connect it with express, creating a header and a footer
; Work Cited:
    Web 330 HTML, CSS, and JavaScript Requirements
    Web 340 Assign 4
    Web 340 Assign 5
    Web 340 Pets-R-Us
=================================================================================================================
-->
<footer>
  <p>
      &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
  </p>

</footer>

</body>
</html>