<!--
=================================================================================================================
; Title: Assignment 4.2 Pets-R-Us
; Author: Shane Hingtgen
; Bellevue University
; Date: 01/28/23
; Description: In this assignment we create a website and connect it with express
; Work Cited:
    Web 330 HTML, CSS, and JavaScript Requirements
    Web 340 Assign 4
    Web 340 Pets-R-Us
=================================================================================================================
-->
<header>
  <%- include('../partials/_header')%>
</header>
    <div class="hero-background">
      <img
        src="images/puppy-run-cropped.jpg"
        alt="Springer Spaniel"
        class="hero-image"
      />
    </div>
    <footer><%- include('../partials/_footer')%></footer>
  </body>
</html>
