<!--
=================================================================================================================
; Title: Assignment 4.2 Pets-R-Us
; Author: Shane Hingtgen
; Bellevue University
; Date: 02/22/23
; Description: In this assignment we create a form to be used with our JSON file and our DB
; Work Cited:
    Web 330 HTML, CSS, and JavaScript Requirements
    Web 340 Assign 8
    Web 340 Pets-R-Us
    Web 340 PowerPoints
=================================================================================================================
-->
<header>
  <%- include('../partials/_header')%>
</header>
    <div class="hero-background">
      <img
        src="images/schedule-cropped.jpg"
        alt="Springer Spaniel"
        class="hero-image"
      />
    </div>
<div class="grid-container-boarding" style="margin-left: 30%; margin-right: 30%;">
  <div class="card">
    <div class="card-content">
      <h3 class="grid-header">Schedule an Appointment</h3>
      <div class="grid-item">
        <div class="form">
          <form action="/appointments" method="post">
            <div class="form-field">
                      <!-- User Name for the req.body.userName -->
              <label for="userName">User Name:</label>
              <input type="text" class="input" id="userName" name="userName" placeholder="User Name" autofocus required>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="form">
            <div class="form-field">
            <!-- First Name for the req.body.firstName -->

                <label for="firstName">First Name:</label>
                <input type="text" class="input" id="firstName" name="firstName" placeholder="First Name" required>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="form">
            <div class="form-field">
            <!-- Last Name for the req.body.lastName -->
              <form action="/appointments" method="post">
                <label for="lastName">Last Name:</label>
                <input type="text" class="input" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="form">
            <div class="form-field" id="email">
              <!-- email for the req.body.email -->
                <label for="email">Email:</label>
                <input type="text" class="input" id="email" name="email" placeholder="Email" required>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="form">
            <div class="form-field">
                      <!-- Choosing a service we loaded in from our JSON file -->
              <label for="service">Choose a Service:</label>
              <select name="service" id="service" class="drop-down-menu" required>
                  <option value="select">--Select--</option>
                <% services.forEach((service) => { %>
                  <option value="'<%= service.value %>'"><%= service.text %></option>
                  <% }) %>
              </select>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="form-field">
                        <!-- our submit data button -->
            <button type="submit" class="btn btn-primary full-width" id="btnSubmit" value="Pets-R-Us Appointment">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    <footer><%- include('../partials/_footer')%></footer>
  </body>
</html>