<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="../public/styles/stylesheet.css"
      type="text/css"
      rel="stylesheet"
    /> -->
    <!--Google fonts 'Oswald' from previous class-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="styles/site.css" type="text/css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="hero-content">
      <h1 class="title">Pets-R-Us</h1>
      <div class="card-title"><%= pageTitle %></div>
    </div>
    <header>
      <!-- nav bar -->
      <nav class="navbar">
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">
            Services
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="grooming">Grooming</a>
            <a href="boarding">Boarding</a>
            <a href="training">Training</a>
          </div>
        </div>
        <a href="register">Register</a>
        <a href="customers">Customers</a>
        <a href="appointment">My Appointments</a>
      </nav>
    </header>
    <div class="hero-background">
      <img
        src="images/grooming-cropped.jpg"
        alt="Springer Spaniel"
        class="hero-image"
      />
    </div>

    <div class="card">
      <section class="grooming-info">

          <div class="card-content">
            <h3 class="book-now"></h3>
            <p>
              Here at Pet-R-Us we provide the greatest experience for you and
              your pets. We offer brand new state of the art, clean facilities
              for your pet.You will be relaxed knowing that your pet will be
              pampered. We have a bevy of services that will give your dog an
              award-winning experience to take on the National Dog Show
            </p>
          </div>
          <hr>
          <div class="card-content">
            <h3>Grooming Services we offer:</h3>
            <ul>
              <li>Nail Trimming: $15</li>
              <li>Wash: $30</li>
              <li>Hair Cut: $25</li>
              <li>Express Glands: $25</li>
            </ul>
          </div>
          <div class="grid-container">
          <div class="card">
            <div class="card-content">
              <h3 class="grid-header">Check out our Grooming Packages!</h3>
              <div class="grid-item">
              <ul>
                <li><b>Package #1: Price: $40</b></li>
                <li>
                  We cut your dogs hair, then we wash them in the finest
                  smelling shampoo. Blow dry and brush their shiny coat!
                </li>
              </div>
              <div class="grid-item">
                <li><b>Package #2: Price: $50</b></li>
                <li>
                  We cut your dogs hair, then we wash them in the finest
                  smelling shampoo. Blow dry and brush their shiny coat! Lastly,
                  we Trim their nails.
                </li>
              </div>
              <div class=" grid-item">
                <li><b>Package #3 Deluxe: Price: $75</b></li>
                <li>
                  We cut their hair and provide them with the finest haircut,
                  worthy of a lasting impression of the Nation Dog Show. And
                  finally, we trim their nails.
                </li>
              </div>
              <div class="grid-item">
                <li><b>Package #4 Ultra Deluxe:</b> Price 85$</li>
                <li>
                  All the services for your dog. Nail Trimming, Wash, Cut,
                  Express Glands. This package comes with it all
                </li>
              </ul>
            </div>
            </div>
          </div>
          </div>
          <div class="card">
            <div class="card-content">
              <h3 class="book-now">Book Now!</h3>
              <p>
                Book now for all your grooming needs. Grooming your pet doesn’t
                need to be difficult. It takes time, so let us provide you with
                the greatest service of dog grooming. You will love how your dog
                looks and smells. Have a stinky pup? Did she roll in something
                stinky? Do his nails click clack all over your hard floors at
                home? No pet is too smelly. We will give your dog the grooming
                it deserves.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <h4 class="footer-text">Photo by Gustavo Fring, pexels.com</h4>
    </footer>
  </body>
</html>
