<!--
=================================================================================================================
; Title: Assignment 6.2 Pets-R-Us
; Author: Shane Hingtgen
; Bellevue University
; Date: 02/10/23
; Description: connected to a mongoDB to store information submitted on this webpage
; Work Cited:
    Web 330 HTML, CSS, and JavaScript Requirements
    Web 340 Assign 4
    Web 340 Pets-R-Us
    Web 340 Assign 6
    Web 340 GitHub https://github.com/buwebdev/web-340/tree/master/week-6/fms
=================================================================================================================
-->
<header>
  <%- include('../partials/_header')%>
</header>
    <div class="hero-background">
      <img
        src="images/puppy-field-cropped.jpg"
        alt="Springer Spaniel"
        class="hero-image"
      />
    </div>
    <div class="grid-container-boarding" style="margin-left: 30%; margin-right: 30%;">
        <div class="card">
          <div class="card-content">
        <h3 class="grid-header">Registration Form</h3>
        <div class="grid-item">
          <!-- action needs to match the app.post in index.js -->
          <form action="/customers" method="post"> 
        <div class="form">
          <div class="form-field">
            <!-- customerId for the req.body.customerId -->
            <label for="customerId">Name:</label>
            <input type="text" class="input" id="customerId" name="customerId" required autofocus>
          </div>
        </div>
      </div>
      <div class="grid-item">
            <div class="form">
              <div class="form-field">
                <!-- email for the req.body.email -->
                <label for="email">Email:</label>
                <input type="text" class="input" id="email" name="email"/>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="form">
              <div class="form-field">
                <button type="submit" class="btn btn-primary full-width" id="btnSubmit" value="Pets-R-Us Register">Submit</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
</div>
</div>
    <footer><%- include('../partials/_footer')%></footer>
  </body>
  <script type="module">
  </script>
</html>
